/* cistom properties */
:root{
    --main-color:grey;
    --secondary-color: white;
    --main-heigth :550px;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilities */
body{
    font-family: 'Lato';
    background: linear-gradient(to top,#d9dbd7,#d9dbd7 50%,#d9dbd7 80%, #009687 75%);
}

/* !blocco principale */
.container{
    width: 800px;
    height: var(--main-heigth);
    margin: 50px auto;
    overflow: hidden;
}
img{
    width: 100%;
}
.side-content{
    height: var(--main-heigth);
    width: 300px;
}
.main-content{
    height: var(--main-heigth);
    width: 500px;
    background-color:var(--main-color);
}
/*! sidebar */
.sidebar-top-content{
    height: 150px;
}
.sidebar-menu{
    height: 50px;
    background-color: #ebebeb;
    align-items: center;
    justify-content: space-between;
}
.sidebar-profile{
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
}
.profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.sidebar-icons{
    flex-basis: 50%;
    align-items: center;
    justify-content: space-evenly;
    color: var(--main-color);
}
.sidebar-notifications{
    height: 60px;
    background-color: #8dd9fc;
    align-items: center;
    justify-content: flex-start;
}
.fa-bell-slash{
    color:var(--secondary-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-left: 10px;
}
.sidebar-search{
    height: 50px;
    background-color:var(--secondary-color);
    color:var(--main-color);
    text-align: center;
    line-height: 30px;
}
.sidebar-search input{
    width: 200px;
}
.fa-magnifying-glass{
    padding-right: 10px;
}
.sidebar-bottom-content{
    background-color: var(--secondary-color);
    overflow-y: auto;
    height:calc(var(--main-heigth) - 150px) ;
}
/* ?lista contatti e messaggi */
.chronology-messages{
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}
.chronology-messages.active{
    background-color: lightgrey;
}
.last-messagge{
    color: var(--main-color);
}
.last-time-messagge{
    font-size: 8px;
    color: var(--main-color);
    padding-right: 10px;
}

/*! main content */
.top-content{
    height: calc(var(--main-heigth) - 50px) ;
}
.chat{
    overflow-y: auto;
    background-image: url(../img/mine.png);
    height: calc(var(--main-heigth) - 100px);
}
.info-chat{
    height: 50px;
    background-color:#ebebeb;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}
.profile-index-book{
    flex-basis: 80%;
    align-items: center;
    justify-content: flex-start;
}
.photo-acquaintance{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.utilities-chat{
    flex-basis: 20%;
    align-items: center;
    justify-content: space-evenly;
    color:var(--main-color);
}
/* ?chat */
.message-wrapper {
    margin: 10px 50px;
}
.message-wrapper.sent {
    justify-content: right;
}
.message-wrapper.received {
    justify-content: left;
}
.message{
    padding: 15px;
    width: 230px;
    border-radius: 10px;
}
.time-message{
    color: var(--main-color);
    font-size: 10px;
    text-align: end;
    margin-top: 5px;
}

.message-wrapper.sent .message {
    background-color:#d6fabb;
}

.message-wrapper.received .message {
    background-color: var(--secondary-color);
}
.bottom-content{
    height: 50px;
    color: var(--main-color);
    background-color: #f2ede9;
    align-items: center;
    justify-content: space-around;
}
textarea {
    resize: none;
    width: 400px; 
}

/* generics */
.d-flex{
    display: flex;
}
.border-main-color{
    border: 1px solid var(--main-color);
}
.border-secondary-color{
    border: 1px solid var(--secondary-color);
}
.fs-12{
    font-size: 12px;
}
.gap-10{
    gap: 10px;
}
.gap-5{
    gap: 5px;
}