/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilities */
body{
    font-family: 'Lato';
}

/* !blocco principale */
.container{
    width: 800px;
    height: 550px;
    border: 1px solid grey;
    margin: 50px auto;
    display: flex;
}
img{
    width: 100%;
}
.side-content{
    height: 550px;
    width: 300px;
    border: 1px solid gray;
}
.main-content{
    height: 550px;
    width: 500px;
    background-color: gray;
}
/*! sidebar */
.sidebar-top-content{
    background-color: goldenrod;
    height: 150px;
}
.sidebar-menù{
    height: 50px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-profile{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
    gap: 5px;
}
.profile-img{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}
.sidebar-icons{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    color: grey;
}
.sidebar-notifications{
    height: 60px;
    background-color: #8dd9fc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap :10px;
}
.fa-bell-slash{
    color:white;
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-left: 10px;
}
.activate-notifications{
    font-size: 12px;
}
.sidebar-search{
    height: 50px;
    background-color: white;
    color: grey;
    text-align: center;
    line-height: 30px;
}
.fa-magnifying-glass{
    padding-right: 10px;
}
.sidebar-bottom-content{
    background-color: white;
    overflow-y: auto;
    height:calc(550px - 150px) ;
}
/*! main content */
.top-content{
    height: calc(550px - 50px) ;
    background-color: pink;
}
.inner-main{
    overflow-y: auto;
    background-image: url(../img/mine.png);
    height: calc(550px - 100px);
}
.info-chat{
    height: 50px;
    background-color:#ebebeb;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-index-book{
    flex-basis: 80%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.photo-acquaintance{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px;
}

.utilities-chat{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: grey;
}
.bottom-content{
    height: 50px;
    background-color: #f2ede9;
}

