<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ginatovaralmario">
    <meta name="project" content="boolzapp">

    <title>BOOLZAPP</title>
    <!-- fonts Goole -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- ICONE FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="container d-flex border-main-color">
            <div class="side-content border-main-color">
                <div class="sidebar-top-content">
                    <header class="sidebar-menu d-flex">
                        <div class="sidebar-profile d-flex gap-5">
                            <img class="profile-img border-secondary-color" src="img/avatar_io.png" alt="profile-img">
                            <div>Sofia</div>
                        </div>
                        <div class="sidebar-icons d-flex gap-5">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <div class="sidebar-notifications d-flex gap-10">
                        <i class="fa-solid fa-bell-slash border-secondary-color"></i>
                        <div class="activate-notifications fs-12">
                            <p>Ricevi Notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="sidebar-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" id="search-name" name="search-name" placeholder="cerca contatto" v-model="searchedLetter"
                        @keyup="compareEachLetter(searchedLetter)">
                    </div>
                </div>
                <div class="sidebar-bottom-content">
                    <ul>
                        <li v-for="(contact,index) in contacts">
                            <div class="chronology-messages d-flex border-main-color" @click="changeSelectedContact(contact)"
                            :class="{'active':contact === selectedContact}">
                                <div class="information-contacts d-flex fs-12 gap-10">
                                    <div class="photo-contact">
                                        <img class="photo-acquaintance border-secondary-color" :src="contact.avatar" alt="avatar1">
                                    </div>
                                    <div class="info-acquaintance">
                                        <h4 class="name-acquaintance"> {{contact.name}}</h4>
                                        <p class="last-messagge">Ultimo messaggio inviato</p>
                                    </div>
                                </div>
                                <p class="last-time-messagge">12:00</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="top-content">
                    <main>
                        <header class="info-chat d-flex">
                            <div class="profile-index-book d-flex fs-12 gap-10">
                                <img class="photo-acquaintance" :src="selectedContact.avatar" alt="avatar1">
                                <div class="info-acquaintance">
                                    <h4 class="name-acquaintance">{{selectedContact.name}}</h4>
                                    <p class="last-access-acquaintance">Ultimo accesso oggi alle 12:00</p>
                                </div>
                            </div>
                            <div class="utilities-chat d-flex">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </header>
                        <div class="chat">
                            <!-- object notation -->
                            <div class="message-wrapper d-flex" v-for="(messageObj,index) in selectedContact.messages" 
                                :class ="{
                                    
                                    'sent': messageObj.status === 'sent',
                                    'received': messageObj.status === 'received'
                                    
                                }">
                                <div class="message border-secondary-color">
                                    <p> {{messageObj.message}}</p>
                                    <p class="time-message">{{formatDate(messageObj.date)}}</p>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <div class="bottom-content d-flex">
                    <i class="fa-regular fa-face-smile"></i>
                    <textarea name="message" id="message" placeholder="Scrivi un messaggio" v-model="newMessage"
                    @keyup.enter="addNewMessage(newMessage)"></textarea>
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.5.0/build/global/luxon.min.js"></script>
    <!-- js -->
    <script src="js/script.js"></script>
</body>
</html>